@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.App {
  text-align: center;
}

main {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  height: 15vh;
  background-color: black;
  color: white;
}

.new-note-container {
  display: flex;
  justify-content: center;
}

.new-note-box {
  width: 30%;
  box-shadow: 2px 2px 4px grey;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;
  border-radius: 10px 10px;
}

.new-note-box > input {
  border: none;
  outline: none;
  display: block;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: bolder;
  border: none;
  font-family: 'Lora', serif;
}

.new-note-box > textarea {
  border: none;
  outline: none;
  display: block;
  padding: 0.5rem;
  height: 10vh;
  font-size: 1rem;
  border: none;
  font-family: 'Lora', serif;
}

.note-add-btn {
  position: absolute;
  background-color: black;
}

.note-box {
  width: 15%;
  box-shadow: 3px 3px 6px grey;
  padding: 1rem 1rem;
  margin: 2rem 2rem;
  position: relative;
  border-radius: 10px 10px;
}


.note-box > h1 {
  font-size: 1.3rem;
}

.note-box > p {
  font-size: 1rem;
}

.delete-btn {
  align-self: center;
}




.footer {
  margin-top: auto;
  color: white;
  padding: 1rem;
  background-color: black;
  text-align: center;
}



@media screen and (max-width: 786px) {
  .new-note-box {
    width: 100%
  }

  .note-box {
    width: 80%vw;
    padding: 1rem 1rem;
    margin-top: 2rem 1rem;
    position: relative;
    border-radius: 10px 10px;
  }  
  
}